custom-bar {

  .custom-bar {

    &__title {
      text-transform: uppercase;
      color: color($colors, black);

      &[hidden] + .custom-bar__subtitle {
        margin-top: -15px;
        color: color($colors, black);
      }
    }

    &__subtitle {
      font-size: 4.5em;
      margin-right: 50px;
      color: color($colors, grey-lighter);
    }

    &__robots {
      margin-top: 30px;
    }

    &__options {

      button {
        color: color($colors, black);
        height: 5em;
      }

      .button-inner {
        flex-direction: column;
      }
    }
  }
}
