custom-bar {

  .custom-bar {

    &__title {
      text-transform: uppercase;
      color: color($colors, black);

      &[hidden] + .custom-bar__subtitle {
        margin-top: -15px;
        color: color($colors, black);
      }
    }

    &__subtitle {
      font-size: 4.5em;
      margin-right: 50px;
      color: color($colors, grey-lighter);
    }

    &__robots {
      margin-top: 30px;
    }

    &__comments {
      background-color: color($colors, grey-lighter);
      border-radius: $border-rd;
      font-size: 16px;
      color: color($colors, white);
      position: relative;

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        //border-right: 20px solid #f00;
        border-top: 30px solid transparent;
        border-bottom: 30px solid color($colors, grey-lighter);
        position: absolute;
        right: 0;
        top: -45px;
      }
    }

    &__options,
    &__mgoptions {

      button {
        color: color($colors, black);
        height: 5em;
      }

      .button-inner {
        flex-direction: column;
      }
    }
  }
}
