page-connect-robot {
	ion-list {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}

	.robot-container {
		.robot-item {
			color: color($colors, grey);
			height: 10em;

			&:hover {
				color: color($colors, grey); 
			}

			&.selected {
				background-color: $white;
				color: $black;
			}

			.button-inner {
				flex-flow: column nowrap;
				position: relative;

				.robot-item__name {
					position: absolute;
    			bottom: 10px;

    			ion-icon {
    				font-size: 1em;
    				color: color($colors, secondary);
    			}
				}
			}

			ion-icon {
				font-size: 5em;
			}
		}
	}
}
