page-load-program {
	.program-container {
		.program-item {
      border-radius: $border-rd;
      
			&.selected {
				background-color: color($colors, yellow);
				color: color($colors, black);
			}
		}
	}
}

.action-sheet-group {
	overflow: auto;
}
